body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.App {
    display: flex;
    justify-content: center;
    font-family: Helvetica;

    

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        background-color: white;
        height: 100vh;


        .logo {
            width: 50%;
        }

        .text1 {
            width: 50%;
            font-size: 20px;
            margin-top: 50px;
        }

        button {
            background-color: black;
            color: white;
            border: solid black 2px;
            border-radius: 20px;
            padding: 10px 20px;
            font-size: 15px;
            font-weight: 600;
        }

        button:hover {
            background-color: white;
            color: black;
            border: solid black 2px;
            padding: 10px 20px;
        }

        .text2 {
            width: 50%;
            font-size: 20px;
        }

        .ig {
            max-width: 50px;
            margin: 20px 0 50px 0;
            padding: 10px;
            border: solid white;
            border-radius: 20px;
        }

        .ig:hover {
            border: solid black;
            border-radius: 20px;
        }

        .m {
            max-width: 80px;
            border-radius: 40px;
        }
    }
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 90%;
    z-index: 1000;
    text-align: end;
    
    button {
        background-color: black;
        border: solid black;
        color: white;
        font-weight: 300;
        font-size: 20px;
        border-radius: 40px;
        margin-bottom: 5px;
    }

    button:hover {
        background-color: white;
        border: solid black;
        color: black;
    }

    iframe {
        height: 95%;
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
    }
}

@media only screen and (max-width: 820px) {
    .App {
        .container {
            width: 100%;
            .logo {
                width: 90%;
            }
            .text1 {
                width: 90%;
                font-size: 17px;
            }
            .text2 {
                width: 90%;
                font-size: 17px;
            }
            .ig {
                margin: 10px 0 20px 0;
            }
        }
    }

    .modal {
        width: 95%;
        height: 95%;
    }
  }